:root.light {
  --background-color: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
;
  --text-color: #000;
  --border-color: #000;
  --logo-color: #000;
  --category-color: #011f1f;
  --sun: #ffff00;
  --header: #81b29a;
  --img: #fff;
  --search: #000;
  --contact: #000;
  --img-bg: #5f5a5a2e;
  --img-info: #8ecae6;
  --cart-user-bg: #bec0b9;
  --cart-bg: #5ea8dd;
}

:root.dark {
  --background-color: #023047;
  --text-color: #ffffff;
  --border-color: #0e8e03;
  --logo-color: #0e8e03;
  --category-color: #08e803;
  --sun: #fff;
  --header: #170a0ac8;
  --img: #454343a8;
  --search: #fff;
  --contact: #fff;
  --img-bg: #80808075;
  --img-info: #001d3d;
  --cart-user-bg: #2a9d8f;
  --cart-bg: #040417cb;
}
